body {
    background-color: #F0F2F5;
}

nav {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}